@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: white;
}

html {
  background-color: #181a1b;
}

input {
  background-color: #3b3b3b;
  border: none;
}

.div-container {
  background-color: #1b1d1e;
}

.home-user {
  background-color: #222527;
  border: 1px solid #363b3d;
}

.home-user-icon {
  background-color: #181a1b;
}

.inputError {
  border: 1px solid rgb(239 68 68);
}
